<h1>Parks:</h1>
<ul>
  <% @parks.each do |park| %>
  <li><%= link_to park.name, park %></li>
  <% end %>
</ul>
<%= paginate @parks %>

<div class="sidebar-right" style="float: right;">
  <%= link_to "Add New Park", new_park_path %>
</div>
